html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* также адаптив высчитывает отступы
звёздочка означает все операторы и классы */
.header{
background-color: whitesmoke;
}
html,body{
    height: 100%;
}
.header-main{
background-color: transparent; 
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{

max-width: 1200px;
margin: 0 auto;
padding: 0 10px;
    /* адаптив марджин для того чтобы он от начала страницы дальше */
}
body{
    font-size: 16px;
    font-weight: 400px;
    font-family: "Inter Tight", sans-serif;
    line-height: 1.3;
}
.header_inner{
padding-top: 40px;
display: flex;
 justify-content: space-between;
}
.menu_li{
    display:flex;
    gap: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
}
main{
    flex-grow: 1;
    /* максимальное растяжение */
}
.top{
color:black;
text-align: center;
 padding-top:100px;
 padding-bottom: 40px;

}
.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.toplink{
    background-color: black;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    /* чтобы работало всё правильно как для блочного тега */
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.carousel slide{
    box-sizing: content-box;
  }
  
  .carousel{ 
   position: fixed; 
   top: 20%; 
   left: 20%; 
  } 
   
  .car_gen_2{ 
   position: fixed; 
   top: 20%; 
   left: 60%; 
  } 
footer{
    background-color: whitesmoke;
    padding: 50px 0 32px;
    color: black;
}
.footer_menu_li{
    max-width: 250px;
}
  .footer-menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .footermenutitle{
    font-size:24px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .footer-menuitem + .footer-menuitem{
    /* футер + футер является селектором + и является заменой для чайлда
    он получается ищет значенте до+ т подключает ещё и соседа после + и является более производиьельным способом */
    padding-top: 20px;
   
  }
  .app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
  }
  .footerwords{
   min-width: 560;
   margin: 0 auto;
   text-align: center;
  }
  .docs{
    display: flex;
    justify-content: center;
    gap: 40px;
  }